<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>foodRecipe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8396B95A2C1DBE36002F2B3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8396B9732C1DBE37002F2B3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8396B97D2C1DBE37002F2B3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
